<div class="row d-flex justify-content-center">
  <div class="card m-5 shadow" style="width: 15rem">
    <img
    src="https://mdbootstrap.com/img/new/standard/city/062.jpg"
    class="card-img-top mt-3 border-3 border-dark rounded "
    alt="..."
  />
      <div class="card-body">
        <h5 class="card-title">Title project</h5>
        <p class="card-text">
          Description:<br>
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
      </div>
      <div class="card-footer">
        <p class="card-text">
          Compétence:<br>
        </p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="card-link">Heroku</a>
        <a href="#" class="card-link">Github</a>
      </div>
    </div>
      <div class="card m-5 shadow" style="width: 15rem">
    <img
    src="https://mdbootstrap.com/img/new/standard/city/062.jpg"
    class="card-img-top mt-3 border-3 border-dark rounded "
    alt="..."
  />
      <div class="card-body">
        <h5 class="card-title">Title project</h5>
        <p class="card-text">
          Description:<br>
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
      </div>
      <div class="card-footer">
        <p class="card-text">
          Compétence:<br>
        </p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="card-link">Heroku</a>
        <a href="#" class="card-link">Github</a>
      </div>
    </div>
      <div class="card m-5 shadow" style="width: 15rem">
    <img
    src="https://mdbootstrap.com/img/new/standard/city/062.jpg"
    class="card-img-top mt-3 border-3 border-dark rounded "
    alt="..."
  />
      <div class="card-body">
        <h5 class="card-title">Title project</h5>
        <p class="card-text">
          Description:<br>
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
      </div>
      <div class="card-footer">
        <p class="card-text">
          Compétence:<br>
        </p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="card-link">Heroku</a>
        <a href="#" class="card-link">Github</a>
      </div>
    </div>
  </div>
