  <footer class=" text-center text-lg-start page">
  <!-- Copyright -->
  
  <div class="text-center p-3">
    <%= link_to "top page", "#top", class:"mx-2"%>
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
  </footer>