  <footer class=" text-center text-lg-start page">
  <!-- Copyright -->
  
  <div class="text-center p-3">

    © 2020 Copyright:
    <a class="text-dark" href="http://ronan-lemeunier.fr">ronan-lemeunier.fr</a>
  </div>
  <!-- Copyright -->
  </footer>